{% extends 'core/main.html' %}
{% block headerTag %}
<div class="container mt-4">
    {% if is_edit_page %}
    <h3>Edit Advertise </h3>
    {% else %}
    <h3>Create Advertise </h3>
    {% endif %}
</div>
{% endblock headerTag %}

{% load static %}
{% block head %}

<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">


<!--select2-->
<!--<script src="https://code.jquery.com/jquery-3.7.1.min.js"-->
<!--        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>-->
<!--<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>-->
<!--<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>-->

{% endblock head %}


{% block content %}
<!--<div class=" row row-col-1 justify-content-center">-->
<!--    <div class="col-5">-->
<div class="row">
    <div class="col-lg-8 mx-auto">
        <form method="post" enctype="multipart/form-data">
            {% load widget_tweaks %}
            {% csrf_token %}

            <!--            <label for="id_user" class="form-label">{{form.user.label}}</label>-->
            <!--            {% render_field form.user placeholder=form.user.label class+="form-control" %}-->

            <label for="id_title" class="form-label">{{form.title.label}} <b>*</b> </label>
            {% render_field form.title placeholder=form.title.label class+="form-control" %}

            <label for="id_description" class="form-label">{{form.description.label}} <b>*</b></label>
            {% render_field form.description placeholder='Enter a few words about your company' class+="form-control" %}

            <label for="id_phone_number" class="form-label">{{form.phone_number.label}}</label>
            {% render_field form.phone_number placeholder=form.phone_number.label class+="form-control" %}

            <label for="id_advertise_category" class="form-label">{{form.advertise_category.label}} <b>*</b></label>
            {% render_field form.advertise_category placeholder=form.advertise_category.label class+="form-control" %}

            <label for="id_street" class="form-label">{{address.street.label}} <b>*</b></label>
            {% render_field address.street placeholder=address.street.label class+="form-control" %}

            <label for="id_street_number" class="form-label">{{address.street_number.label}} <b>*</b></label>
            {% render_field address.street_number placeholder=address.street_number.label class+="form-control" %}

            <label for="id_apartment_number" class="form-label">{{address.apartment_number.label}}</label>
            {% render_field address.apartment_number placeholder=address.apartment_number.label class+="form-control" %}

            <label for="id_town" class="form-label">{{address.town.label}} <b>*</b></label>
            {% render_field address.town placeholder=address.town.label class+="form-control town-search" %}

            <label for="id_zip_code" class="form-label">{{address.zip_code.label}} <b>*</b></label>
            {% render_field address.zip_code placeholder=address.zip_code.label class+="form-control" %}

            <label for="id_img" class="form-label">{{form.image.label}}</label>
            {% render_field form.image placeholder=form.image.label class+="form-control mb-3" %}
            <!--            {{ form.as_p }}-->
            <!--            {{ address.as_p }}-->

            <!--            change img to image model-->
            <img id="current" src="{{ current_img.url }}" class="img-fluid rounded h-25 w-25 mt-3 mb-3 border"
                 alt="Current image">
            <br>
            {% if is_edit_page %}
            <button type="submit" class="btn btn-primary ">Edit</button>
            {% else %}
            <button type="submit" class="btn btn-primary ">Create</button>
            {% endif %}


            {% if form.errors %}
            <small class="help-block text-danger">{{ form.errors|striptags }}</small>
            {% endif %}

            <p class="mt-5"><small class="text-muted"><b>*</b> Field is required</small></p>
        </form>
    </div>
</div>
{% endblock content %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="{% static 'jquery_city.js' %}"></script>
<!--<script>$("#id_town").select2()</script>-->


<script src="{% static 'image_placeholder.js' %}"></script>
{% endblock script %}



