{% extends 'core/main.html' %}
{% block headerTag %}
<div class="container mt-4">

    <h3>Add rating </h3>
</div>
{% endblock headerTag %}
{% block content %}
<div class="row">
    <div class="col-lg-8 mx-auto">

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% load widget_tweaks %}

            <label for="id_rating" class="form-label"> {{form.rating.label}}<i class="fa-solid fa-star ms-2"
                                                                               style="color: #f3ed35;"></i>
                <b>*</b></label>
            <div class="range">
                {% render_field form.rating placeholder=form.rating.label type="range" step="0.5" class+="form-range" %}
            </div>
            <label for="id_comment" class="form-label">{{form.comment.label}} </label>
            {% render_field form.comment placeholder=form.comment.label class+="form-control" %}
            <div class="mt-3">
                <a href="{% url 'advertise_details' id_advertise %}" class="btn btn-primary me-3">Go back</a>
                <button type="submit" class="btn btn-success">Save</button>
            </div>

            {% if form.errors %}
            <small class="help-block text-danger">{{ form.errors|striptags }}</small>
            {% endif %}
            <p class="mt-5"><small class="text-muted"><b>*</b> Field is required</small></p>
        </form>
    </div>
</div>
{% endblock content %}