{% extends 'core/main.html' %}
{% block content %}
<div class="mt-5">
    <a href="{% url 'advertise_details' id_advertise %}" class="btn btn-primary">Go back </a>
</div>
<div class="row">
    <div class="col-lg-8 mx-auto">
        <form method="post">
            {% csrf_token %}
            <h4>Are you sure you want to delete this rating?</h4>
            <p><b>Rating:</b> {{rating.rating}}</p>
            <p><b>Content:</b> {{rating.comment}}</p>
            <input type="submit" value="delete" class="btn btn-danger">

            {% if form.errors %}
            <small class="help-block">{{ form.errors|striptags }}</small>
            {% endif %}
        </form>
    </div>
</div>
{% endblock content %}