{% extends 'core/main.html' %}

{% block headerTag %}
<div class="container mt-4">
    <h3>Your Advertise </h3>
</div>
{% endblock headerTag %}

{% block content %}
<div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
    {% for user_item in user_adverts %}

    <div class="col">
        <a href="{% url 'advertise_details' user_item.id %}" class="text-decoration-none text-body ">
            <div class="card w-100 h-100">
                <img src=" {{ user_item.img.url }}
            " class="card-img-top"
                     alt="Advertise image" style="height: 200px; object-fit: cover;">
                <div class=" card-body ">
                    <h5 class="card-title">{{ user_item.title|title }}</h5>
                    <p class="card-text">{{ user_item.town|title }} {{user_item.street}}</p>
                    <!--                    <p class="card-text">{{ user_item.advertise_category }}</p>-->


                </div>
                <div class="card-footer bg-transparent text-center mb-2 ">
                    <a href="{% url 'advertise_update' user_item.id %}" class="btn btn-primary ">Edit</a>
                    <a href="{% url 'gallery' user_item.id  %}" class="btn btn-primary ">Gallery</a>
                    <a href="{% url 'advertise_delete' user_item.id  %}" class="btn btn-danger ">Delete</a>

                </div>
            </div>
        </a>
    </div>


    {% empty %}

    <h3>No item in list</h3>
    {% endfor %}
</div>
<!--pagination-->
{% include 'core/components/pagination_comp.html' %}

{% endblock content %}