{% extends 'core/main.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <h1 class="text-center">O mnie </h1>
        <p class="lead text-center col-6 mx-auto">Aplikacja dyplowa </p>
    </div>
    <div class="row mt-5">
        <div class="col-md-6 mx-auto">
            <h2 class="text-center">Nasza Cel</h2>
            <p>Naszą misją jest ułatwianie klientom znalezienia najlepszych lokalnych firm usługowych. Nasza aplikacja
                internetowa pozwala użytkownikom szybko i łatwo wyszukiwać firmy w ich lokalizacji.</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6 mx-auto">
            <h2 class="text-center">Nasze Ambicje </h2>
            <p>Pragniemy stać się liderem w dziedzinie wyszukiwania lokalnych firm usługowych. Dążymy do ciągłego
                ulepszania naszej aplikacji, aby zapewnić naszym użytkownikom najbardziej aktualne i dokładne
                informacje.</p>
        </div>
    </div>
</div>

{% endblock content %}