{% extends 'core/main.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center">O nas</h1>
    <p class="lead text-center">Jesteśmy firmą specjalizującą się w tworzeniu aplikacji internetowych do wyszukiwania
        firm usługowych na podstawie lokalizacji.</p>

    <div class="row mt-5">
        <div class="col-md-6">
            <h2>Nasza misja</h2>
            <p>Naszą misją jest ułatwianie klientom znalezienia najlepszych lokalnych firm usługowych. Nasza aplikacja
                internetowa pozwala użytkownikom szybko i łatwo wyszukiwać firmy w ich lokalizacji.</p>
        </div>
        <div class="col-md-6">
            <h2>Nasza wizja</h2>
            <p>Pragniemy stać się liderem w dziedzinie wyszukiwania lokalnych firm usługowych. Dążymy do ciągłego
                ulepszania naszej aplikacji, aby zapewnić naszym użytkownikom najbardziej aktualne i dokładne
                informacje.</p>
        </div>
    </div>
    <!-- Sekcja Nasz zespół -->
    <h2 class="text-center">Nasz zespół</h2>
    <p class="lead text-center">Nasz zespół składa się z doświadczonych profesjonalistów z różnych dziedzin, którzy
        łączą swoje umiejętności, aby dostarczyć najlepszą aplikację do wyszukiwania firm usługowych.</p>

    <div class="row mt-5">
        <!-- Możesz dodać zdjęcia i opisy członków zespołu tutaj -->
    </div>

    <!-- Sekcja Nasze wartości -->
    <h2 class="text-center">Nasze wartości</h2>
    <p class="lead text-center">Wierzymy w dostarczanie najwyższej jakości usług, integrytet, innowacyjność i ciągłe
        doskonalenie. Te wartości kierują wszystkim, co robimy.</p>

    <div class="row mt-5">
        <!-- Możesz dodać więcej szczegółów o wartościach firmy tutaj -->
    </div>
</div>
{% endblock content %}