{% extends 'core/main.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <h1 class="text-center">About me </h1>
        <p class="lead text-center col-6 mx-auto">Graduate application </p>
    </div>
    <div class="row mt-5">
        <div class="col-md-6 mx-auto">
            <h2 class="text-center">Our Goal</h2>
            <p>Our mission is to make it easier for customers to find the best local service companies. Our web
                application allows users to quickly and easily search for companies in their location.</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6 mx-auto">
            <h2 class="text-center">Our Ambitions</h2>
            <p>We aspire to become a leader in the field of local service company search. We strive for continuous
                improvement of our application to provide our users with the most current and accurate information.</p>
        </div>
    </div>
</div>

{% endblock content %}