{% extends 'core/main.html' %}
{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-12 ">
            <div class="text-center">
                
                <div class="bg-secondary rounded-circle d-inline-flex justify-content-center align-items-center"
                     style="width: 150px; height: 150px;">
                    <i class="fas fa-user fa-5x text-white"></i>
                </div>
                <!--                <i class="fas fa-user fa-5x"></i>-->

                <h1 class="mt-3">{{request.user|title}}</h1>
                <p class="lead">Welcome to your profile!</p>
            </div>
            <div class="col-lg-6 mx-auto">
                <ul class="list-group list-group-flush mt-4 ">
                    <li class="list-group-item mb-3 "><a href="#"><i class="fa-solid fa-key me-2"></i>
                        Change
                        password</a></li>
                    <li class="list-group-item mb-3"><a href="#"> <i
                            class="fa-solid fa-pen-to-square me-2"></i>
                        Change
                        username</a></li>

                    <li class="list-group-item mb-3"><a href="{% url 'advertise' %}"><i
                            class="fa-solid fa-square-plus me-2"></i>
                        Add
                        advertisement</a></li>
                    <li class="list-group-item mb-3"><a href="{% url 'user_advertise' %}"><i
                            class="fa-solid fa-images me-2"></i> My advertisements</a></li>
                    <li class="list-group-item mb-3 mt-5"><a href="{% url 'logout' %}" class="text-danger"><i
                            class="fa-solid fa-right-from-bracket me-2"></i> Logout</a></li>
                    <!--                    <li class="list-group-item mb-3"><a href="/add_image/"><i class="fa-solid fa-images me-2"></i> Moja-->
                    <!--                        galeria</a></li>-->
                </ul>
            </div>

        </div>
    </div>
</div>

{% endblock content %}