{% extends 'core/main.html' %}
{% block content %}

<h1>Register</h1>
<form method="post">
    {% csrf_token %}
    <div class="row row-col-1">
        <div class="col-lg-4 col-md-6">
            <div class="mb-3 ">
                <label for="InputEmail1" class="form-label">{{form.username.label}}</label>
                <!--        {{form.username}}-->

                <input type="text" name="{{form.username.name}}" class="form-control" id="InputEmail1"
                       aria-describedby="emailHelp">
            </div>
            <div class="mb-3 ">
                <label for="InputPassword1" class="form-label">{{form.password1.label}}</label>
                <input type="password" name="{{form.password1.name}}" class="form-control" id="InputPassword1">
            </div>
            <div class="mb-3 ">

                <label for="InputPassword2" class="form-label">{{form.password2.label}}</label>
                <input type="password" name="{{form.password2.name}}" class="form-control" id="InputPassword2">
            </div>

            <input type="submit" class="btn btn-primary col-3 mb-3" value="Register">
        </div>
    </div>
</form>


<p>Already have account <a href="{% url 'login' %}">Login</a></p>

{% endblock content %}