{% extends 'core/main.html' %}
{% block content %}

<form method="post">
    {% csrf_token %}
    <div class="row row-col-1 justify-content-center mt-5">
        <!--         offset-3-->
        <div class="col-lg-4 col-md-6">
            <h1>Change password</h1>
            <div class="mb-3 ">
                {% load widget_tweaks %}

                <label for="id_old_password" class="form-label">{{form.old_password.label}}</label>
                {% render_field form.old_password placeholder=form.old_password.label class+="form-control" %}
            </div>
            <div class="mb-3 ">
                <label for="id_new_password1" class="form-label">{{form.new_password1.label}}</label>
                {% render_field form.new_password1 placeholder=form.new_password1.label class+="form-control" %}
            </div>
            <div class="mb-3 ">
                <label for="id_new_password2" class="form-label">{{form.new_password2.label}}</label>
                {% render_field form.new_password2 placeholder=form.new_password2.label class+="form-control" %}
            </div>

            <input type="submit" class="btn btn-primary " value="Save">

            {% if form.errors %}
            <small class="help-block text-danger">{{ form.errors|striptags }}</small>
            {% endif %}
        </div>
    </div>
</form>

{% endblock content %}